<div class="row">
    <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre">
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email">
    </div>
    <div class="col-md-6">
        <label for="puesto" class="form-label">Puesto</label>
        <input type="text" class="form-control" id="puesto">
    </div>
    <div class="col-md-6">
        <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="fecha_nacimiento">
    </div>
    <div class="col-md-6">
        <label for="domicilio" class="form-label">domicilio</label>
        <input type="text" class="form-control" id="domicilio">
    </div>
    <div class="col-md-6">
        <label for="skill" class="form-label">Skill</label>
        <input type="text" class="form-control" id="skill">
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" type="button">Agregar</button>
    </div>
</div>
